.cms-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border: 1px solid @c-primary;
  z-index: 1;
  opacity: 0;
  transition: opacity @trans-material-fast;

  .cms-widget:hover & {
    opacity: 1;
  }
}

.cms-overlay__actions {
  position: absolute;
  z-index: 1;
  bottom: -39px;
  display: flex;
  justify-content: flex-start;
  right: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;

  button {
    position: relative;
    display: flex;
    border: 1px solid @c-primary;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    opacity: 0;
    transform: translateY(-100%);
    transition: background-color @trans-fast, opacity @trans-fast,
      transform @trans-material-fast;

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover {
      background-color: @color-grey--20;
    }

    .cms-widget:hover &,
    &:focus {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }

    &.___edit {
      .icon(pencil);
      &:before {
        font-size: 18px;
      }
    }

    &.___save {
      background-color: @color-secondary;
      color: white;

      .icon(save);
      &:before {
        font-size: 18px;
      }
    }

    &.___delete {
      .icon(delete-fill);
      &:before {
        font-size: 18px;
        margin-bottom: 1px;
      }
    }
  }
}
