.cms-full-row {
    .lead,
    .LeadView {
        width: auto !important;
        margin-left: -20px !important;
        margin-right: -20px !important;
        border-radius: 0 !important;
    }
}

.cms-widget {
    .fill-widget & {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        > * {
            flex-grow: 1;
         }
    }

    margin-bottom: 20px;

    > * {
        margin-bottom: 0;
    }
}

.cms-block {
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(&-filled) {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 300px;
    }

    &-filled {
        display: flex;
        position: relative;
        width: 100%;

        .form {
            width: 100%;
        }

        .form textarea {
            min-height: 300px;
        }

        .form__item,
        .content {
            margin: 0;
        }
    }

    &.___add {
        height: 300px;
        background-color: transparent;
        background-image: repeating-linear-gradient(
                to right,
                @color-grey--50 0%,
                @color-grey--50 50%,
                transparent 50%,
                transparent 100%
            ),
            repeating-linear-gradient(
                to right,
                @color-grey--50 0%,
                @color-grey--50 50%,
                transparent 50%,
                transparent 100%
            ),
            repeating-linear-gradient(
                to bottom,
                @color-grey--50 0%,
                @color-grey--50 50%,
                transparent 50%,
                transparent 100%
            ),
            repeating-linear-gradient(
                to bottom,
                @color-grey--50 0%,
                @color-grey--50 50%,
                transparent 50%,
                transparent 100%
            );
        background-position: left top, left bottom, left top, right top;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
        cursor: pointer;
        transition: background-color @trans-fast;

        &.___small {
            height: 60px;
        }

        &:hover {
            background-color: @color-grey--10;
        }
    }
}

.___widget-frame {
    border: 1px solid @color-secondary;
}

.cms-block__buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

    > * {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
