.footer {
    padding: 0 5px;

    @media ( max-width: @screen-md-max ) {
        display: none;
    }
}

.footer__link {
    display: inline-block;
    font-size: @font-size--medium;
    line-height: 24px;
    color: rgba(0,0,0,.55);
    transition: color @trans-fast;

    &:hover {
        text-decoration: underline;
    }

    &:not(:last-child) {
        margin: 0 20px 0 0;
    }
}
