// Editable profile field
.___is-editable-field {
    cursor: pointer;
    .editable-field {
        transition: color @trans-fast;

        .icon(pencil, after);
        &:after {
            margin: 0 0 2px 5px;
            opacity: 0;
            font-size: 14px;
            color: @color-primary;
            transition: opacity @trans-fast;
        }
    }

    &.___is-private .editable-field {
        color: @color-grey--60;
    }

    .editor {
        display: none;
    }

    &.main__title {
        width: 100%;

        .editable-field:after {
            margin: 0 0 0 10px;
            font-size: 22px;
        }

        input {
            width: 100%;
        }
    }

    &.___is-editing {
        .editable-field {
            display: none;
        }

        .editor {
            display: block;
        }
    }

    &:not(.___is-editing):hover {
        .editable-field {
            color: @color-primary;

            &:after {
                opacity: 1;
            }
        }
    }

    input {
        display: none;
    }

    &.___is-editing {
        .editable-field {
            display: none;
        }

        input {
            display: inline;
        }
    }
}

// Empty profile field
.___is-empty {
    display: inline-flex;

    &.___is-editing span {
        display: none;
    }

    .card-profile__fill {
        display: inline-flex;
        align-items: center;
        color: @color-secondary;
        display: none;

        .icon(pencil, after);
        &:after {
            margin: 0 0 2px 5px;
            font-size: 14px;
            color: @color-primary;
            transition: opacity @trans-fast;
        }
    }

    &:not(.___is-filled) {
        cursor: pointer;

        span {
            color: @color-grey--50;
        }

        &:hover {
            .card-profile__fill {
                display: block;
            }
        }
    }

    &.___is-filled {
        .card-profile__fill {
            display: none;
        }
    }
}

.___is-grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
