.title {
    margin-bottom: 15px;
    .font(title-small);
    font-weight: bold;
    color: @color-primary;

    .toolbar.___blue & {
        color: white;
    }

    @media ( max-width: @screen-xs-max ) {
        .font(large);
    }

    small {
        font-weight: normal;
        margin-left: 10px;
    }
}

.___colored {
    color: @color-primary;
}

.___greyed {
    color: @color-grey--60;
}

.___text-primary {
    color: @color-primary;
}

.___text-secondary {
    color: @color-secondary;
}
