input.___is-hidden {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.selector__options {
  z-index: 2;
}

.contextual {
  &.___is-visible {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.profile__editor {
  width: 100%;
}

.profile__textarea {
  width: 100%;
  resize: none;
  min-height: 220px;
  border: 0;
}

figure {
  margin: 0;
}

.content {
  &.__float-left {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.__float-right {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

body.modal__open {
  overflow: hidden;
}

.form__conditions .form__item {
  margin: 0;
}

.widget {
  position: relative;

  .widget__admin {
    display: none;
  }
}

.widget {
  &:hover {
    .widget__admin {
      display: block;
    }
    .widget__drag {
      display: block;
    }
  }
}

.widget__row {
  .___selected {
    padding: 2px solid red;
  }
}

.widget__add {
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  color: white;
  right: 0;
  margin: 50px;
  padding: 10px;
}

.widget__admin {
  z-index: 1;
  position: absolute;
  top: 7px;
  right: 7px;
  color: @color-grey--60;
}

.widget__admin {
  padding: 15px;

  .___edit {
    float: left;
    padding: 5px;
    .icon(pencil);
    cursor: pointer;
    &:before {
      margin: 0 5px 2px 0;
      font-size: 15px;
    }

    &:hover,
    &:focus {
      color: @color-secondary;
    }
  }
  .___delete {
    float: left;
    padding: 5px;
    .icon(delete);
    cursor: pointer;
    &:before {
      margin: 0 5px 2px 0;
      font-size: 15px;
    }

    &:hover,
    &:focus {
      color: @color-secondary;
    }
  }

  .___close {
    float: left;
    padding: 5px;
    .icon(cross);
    cursor: pointer;
    &:before {
      margin: 0 5px 2px 0;
      font-size: 15px;
    }

    &:hover,
    &:focus {
      color: @color-secondary;
    }
  }
}

.widget__drag {
  display: none;
  z-index: 2;
  background-color: @color-secondary;
  border: 1px solid #fff;
  border-radius: 8px;
  height: 16px;
  width: 16px;
  position: absolute;
  cursor: ew-resize;
  top: 50%;
  right: 0;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.video-modal {
  z-index: 12;
}

.modal__close {
  .modal.___blue > & {
    color: @color-grey--60;

    @media (min-width: @screen-sm) {
      color: @color-white;
    }
  }
}

.right-lg {
  margin-left: auto;
}

.___left {
  float: left;
}

.___right {
  float: right;
}

.article-meta__source span {
  color: @color-primary;
}

.page-layout.___no-nav {
  padding-top: 0 !important;
}

.invite-autocomplete {
  position: relative;
}

.invite-list {
  max-height: 200px;
  overflow-x: scroll;
}

.invite-list__results {
  z-index: 2;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 0px 16px -2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.st0 {
  fill: #b4b4b4;
}

.lead__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button__text {
  word-break: initial;
}

.toolbar {
  opacity: 0;

  &.___is-visible {
    opacity: 1;
  }
}

.file-tile__name span:first-child {
  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.cms-block-html {
  width: 100%;

  iframe {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  a {
    display: inline-block;
  }
}

.section {
  position: relative;
}

.subnav__parent > a:after {
  display: none;
}

.tree-view__folder {
  &:hover {
    > .tree-view__folder {
      margin-left: 24px;
      transition: margin-left @trans-material-normal;

      > span {
        opacity: 0;
        height: 0;
        transition: opacity @trans-normal, height @trans-material-normal;
      }
    }

    > span {
      &:before {
        transform: rotate(-90deg);
      }
    }
  }

  &.___is-open {
    > .tree-view__folder {
      margin-left: 24px;
      transition: margin-left @trans-material-normal;

      > span {
        opacity: 1;
        height: 38px;
        transition: opacity @trans-normal, height @trans-material-normal;
      }
    }

    > span {
      &:before {
        transform: rotate(0);
      }
    }
  }

  &.___selected {
    > span {
      color: @color-secondary;
    }
  }
}

.list-members__name {
  font-weight: normal;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.lead.___group .flexer {
  margin-left: auto;
}


@media screen and (max-width: @screen-sm) {
  .card .picture {
    display: none;
  }
}

.card-edit {
  position: absolute;
  top: 30px;
  right: 30px;
  .font(small);
  color: @color-primary;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  transition: opacity @trans-fast, visibility @trans-fast;

  .icon(pencil);
  &:before {
    font-size: 15px;
    margin: 0 5px 2px 0;
  }

  @media (max-width: @screen-xs-max) {
    .___can-edit & {
      opacity: 1;
      visibility: visible;
    }
    span {
      display: none;
    }
  }

  @media (min-width: @screen-sm) {
    .card-blog-post:hover & {
      opacity: 1;
      visibility: visible;
    }
  }
}

.group-info {
  height: 100%;
}

.group-info__content.___scrollable {
  display: flex;
  flex-direction: column;
}

.group-info__content.new-modal {
  padding: 1rem;
}

.list-members {
  padding-top: 1em;
}

.list-members.___scrollable {
  overflow-y: auto;
  margin-bottom: -36px;
  padding-bottom: 96px; // prevents scrollbar because of the user role select element
}

.navigation__search {
  display: flex;

  @media (max-width: @screen-md-max) {
    display: none;
  }

  max-width: 130px;
  align-items: center;

  input {
    border-radius: 3px;
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
  }
}

.tabmenu__search-container {
  display: flex;
  @media (max-width: @screen-xs-max) {
    display: none;
  }

  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  max-width: 200px;

  input {
    border-radius: 2px;
    width: 100%;
    height: 42px;
    border: none;
    background-color: white;
  }
}

.___not-visible-on-mobile {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.___padding-top {
  padding-top: 20px;
}

.___no-padding {
  padding: 0;
}

.___no-padding-mobile {
  @media (max-width: @screen-xs-max) {
    padding: 0;
  }
}

.modal__box p {
  a {
    color: @color-secondary;
    border-bottom: 1px solid transparent;
    transition: border-color @trans-fast;

    &:hover {
      border-color: @color-secondary;
    }
  }
}

.list-members__owner {
  width: 100%;
  padding: 0 30px 0 16px;
  line-height: 44px;
  max-width: 140px;
  margin-left: 20px;
  color: @color-grey--80;
}

.group-info__description {
  margin-bottom: 10px;
}

.file__owner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 16px;
}

.lead {
  &.___group {
    .lead__justify {
      justify-content: flex-start;
    }
  }
}

.tree-view__folder {
  &.___is-file {
    margin-left: 60px;

    > span:before {
      content: "";
    }
  }
}

.please-wait__container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.please-wait__text {
  flex: none;
  max-width: 50%;
}

.subnav {
  margin-bottom: 2em;
}

.button__text {
  &.___export {
    margin: 0 0 10px 0;
    padding: 0 10px;
    font-weight: normal;
    color: @color-grey--60;

    &:hover {
      color: @color-secondary;
    }
  }
}

.activity-list {
  width: 100%;
}

.___margin-mobile-top {
  margin-top: 20px;
}

.___disabled {
  cursor: auto;
}

body {
  margin: 0;
}

.loading-pleio {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
}
.loading-pleio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: loading-pleio-unfade 1s ease 1s forwards;
}
.loading-pleio svg {
  color: rgba(0,0,0,.42);
  animation: loading-pleio-blink 2s ease-in-out 2s infinite;
}
.loading-pleio .text {
  margin: 20px 0 32px;
  padding-left: 4px;
  font-size: 0.875rem;
  color: rgba(0,0,0,.55);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@keyframes loading-pleio-unfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-pleio-blink {
  50% {
      opacity: 0.4;
  }
}