// Core
// -------------------------------
@import "core/grid";
@import "core/icons";
@import "core/typography";
@import "core/variables";
@import "core/helpers";
// Layout
// -------------------------------
@import "layout/footer";
@import "layout/page-layout";
// Components
// -------------------------------
@import "components/http-error";
@import "components/button";
@import "components/breadcrumb";
@import "components/card";
@import "components/card-blog-post";
@import "components/card-document";
@import "components/card-initiative";
@import "components/card-list-bloggers";
@import "components/card-list-recommended";
@import "components/card-list-trending";
@import "components/card-profile";
@import "components/checkbox";
@import "components/comment";
@import "components/document";
@import "components/face";
@import "components/file-tile";
@import "components/file-view";
@import "components/file";
@import "components/files";
@import "components/flexer";
@import "components/lead";
@import "components/link";
@import "components/list-members";
@import "components/poll";
@import "components/picture";
@import "components/toolbar";
@import "components/tree-view";
@import "components/play-button";
@import "components/radio";
@import "components/read-more";
@import "components/selector";
@import "components/tabber";
@import "components/tabmenu";
@import "components/search-bar";
@import "components/tag";
@import "components/users-online";
// Modules
@import "modules/article-actions";
@import "modules/article";
@import "modules/edit-picture";
@import "modules/form";
@import "modules/group-info";
@import "modules/section";
@import "modules/walled-garden";
// CMS
@import "cms/cms-overlay";
@import "cms/cms-block";
// Mixins
// -------------------------------
@import "mixins/ellipsis.less";
@import "pleio";
@import (less) "~tippy.js/dist/tippy.css";
@import (less) "~tippy.js/dist/backdrop.css";
@import (less) "~tippy.js/themes/light.css";
@import (less) "~tippy.js/animations/shift-away.css";

#__bs_notify__ {
  opacity: 0.15 !important;
  pointer-events: none;
}
