.button {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: @border-radius-button;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    background-color: @color-secondary;
    color: @color-white;
    text-shadow: none;
    transition: background-color @trans-fast, color @trans-fast,
        border-color @trans-fast;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &.___is-active,
    &:hover,
    &:active {
        background-color: @color-secondary--hover;
    }

    &:active {
        background-color: @color-secondary--active;
    }

    &[disabled] {
        &:not(.___is-loading) {
            background-color: @color-grey--40;
            color: @color-grey--60;
            cursor: default;
        }
    }

    .toolbar.___blue & {
        background-color: @color-primary;
    }

    &.___margin-right {
        margin-right: 20px;
    }

    &.___margin-left {
        margin-left: 8px;
    }

    &.___margin-bottom {
        margin-bottom: 20px;
    }

    &.___logout {
        .icon(logout);
        &:before {
            display: none;
        }
    }

    @media (max-width: @screen-xs-max) {
        height: 36px;
        line-height: 36px;

        .modal & {
            height: 40px;
            line-height: 40px;
        }

        &.___pleio {
            display: none;
        }

        &.___large.___logout {
            display: flex;
            justify-content: center;
            width: 26px;
            height: 26px;
            line-height: 26px;
            padding: 0;
            border-radius: 50%;
            font-size: 24px;
            position: absolute;
            top: 20px;
            right: 20px;

            span {
                display: none;
            }

            &:before {
                display: inline-block;
                font-size: 12px;
                line-height: inherit;
            }
        }

        &.___edit-email {
            margin: 20px 0 0 0;
        }
    }
}

// Grey button
.button.___grey {
    background-color: @color-grey--50;

    &:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
            background-color: @color-secondary;
        }
    }

    &.___grey-hover:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
            background-color: @color-grey--60;
        }
    }
}

// Full width button
.button.___block {
    display: block;
    width: 100%;
    text-align: center;
}

// Square button
.button.___square {
    width: 40px;
    padding: 0;

    &:hover {
        background-color: @color-grey--80;
    }

    &.___is-invited {
        background-color: @color-secondary;
    }

    @media (max-width: @screen-xs-max) {
        width: 36px;
    }
}

// Full width button (mobile)
.button.___block-mobile {
    @media (max-width: @screen-xs-max) {
        display: block;
        width: 100%;
        text-align: center;
    }
}

// Button with @color-primary
.button.___primary {
    background-color: @color-primary;

    &:hover {
        background-color: @color-secondary;
    }
}

// Link button
.button.___link {
    padding: 0;
    color: @color-secondary;
    background-color: transparent;

    &:hover,
    &:focus {
        color: @color-primary;
    }
}

.button.___line {
    color: @color-secondary;
    background-color: white;
    border: 1px solid @color-secondary;

    &:hover,
    &:focus {
        background-color: @color-secondary--bright;
    }
}

.button.___tertiary {
    color: @color-grey--70;
    background-color: white;
    border: 1px solid @color-grey--60;

    &:hover,
    &:focus {
        background-color: @color-grey--10;
    }

    &:active {
        background-color: @color-grey--20;
    }
}

.button.___medium {
    height: 32px;
    line-height: 31px;
    padding: 0 15px;
    font-size: @font-size--medium;

    &.___edit:before {
        font-size: 12px;
        margin-right: 7px;
        margin-bottom: 2px;
    }

    &.___link {
        padding: 0;
    }

    &.___access {
        .icon(users);
        &:before {
            font-size: 16px;
            margin-right: 7px;
        }
    }
}

.button.___small {
    height: 24px;
    line-height: 24px;
    padding: 0 7px;
    font-size: @font-size--small;
    line-height: 20px;
    font-weight: normal;
    vertical-align: baseline;
    border-radius: 3px;

    &:not(.___line):not(.___tertiary) {
        font-weight: bold;
    }
}

.button.___move {
    .icon(folder);
    &:before {
        font-size: 11px;
        margin-left: -3px;
        margin-right: 8px;
        margin-bottom: 2px;
    }
}

.button.___edit {
    .icon(pencil);
    &:before {
        font-size: 13px;
        margin-left: -3px;
        margin-right: 8px;
        margin-bottom: 1px;
    }
}

.button.___download {
    .icon(download);
    &:before {
        font-size: 14px;
        margin-left: -1px;
        margin-right: 8px;
    }
}

.button.___medium.___delete {
    .icon(delete-fill);
    &:before {
        font-size: 13px;
        margin-right: 8px;
        margin-bottom: 2px;
    }
}

.button.___add {
    .icon(plus);
    &:before {
        font-size: 10px;
        margin: 0 7px 1px 0;
    }

    &.___stick {
        @media (max-width: @screen-xs-max) {
            display: flex;
            justify-content: center;
            width: 32px;
            height: 32px;
            line-height: 26px;
            padding: 0;
            border-radius: 50%;
            font-size: 24px;

            &:before {
                margin: 0;
            }

            span {
                display: none;
            }
        }
    }
}

.button__share {
    &:extend(.button);
    width: 40px;
    float: left;
    padding: 0;
    text-align: center;

    &.___twitter {
        background-color: @color-twitter;
        .icon(social-twitter);

        &:before {
            font-size: 14px;
        }
    }
    &.___facebook {
        background-color: @color-facebook;
        .icon(social-facebook);

        &:before {
            font-size: 18px;
        }
    }
    &.___google {
        background-color: @color-google;
        .icon(social-google);

        &:before {
            font-size: 14px;
        }
    }
    &.___linkedin {
        background-color: @color-linkedin;
        .icon(social-linkedin);

        &:before {
            font-size: 18px;
        }
    }
    &.___mail {
        background-color: @color-grey--80;
        .icon(envelope);

        &:before {
            font-size: 12px;
        }
    }
}

.button.___options {
    padding: 0;

    .icon(options);
    @media (max-width: @screen-xs-max) {
        width: 38px;
        &:before {
            font-size: 5px;
        }
    }

    @media (min-width: @screen-sm) {
        width: 42px;
        &:before {
            font-size: 5.5px;
        }
    }
}

.button.___is-loading {
    color: transparent;
    pointer-events: none;
    cursor: default;
}

.button__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    opacity: 0;
    transform: translateY(100%);
    transition: transform @trans-material-normal, opacity @trans-normal;

    *.___is-loading & {
        opacity: 1;
        transform: translateY(0);
    }

    &:before {
        content: "";
        height: 20px;
        width: 20px;
        animation: rotate 0.8s infinite linear;
        border: 4px solid #fff;
        border-right-color: transparent;
        border-radius: 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button.___dropdown {
    .icon(angle-down-fill, after);
    &:after {
        font-size: 5px;
        margin-left: 7px;
        margin-right: -4px;
        margin-bottom: 1px;
    }

    &.___is-open {
        border-color: @color-secondary;
    }
}

.button__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: @color-grey--60;
    cursor: pointer;
    transition: color @trans-fast;

    &:not(.___is-active):hover {
        color: black;
    }

    &.___is-active {
        color: @color-secondary;
        cursor: default;
    }

    &.___zoom {
        color: black;
        font-size: 26px;
        font-weight: bold;
    }

    &.___back {
        color: black;

        .icon(arrow-right-circle-transparent);
        &:before {
            font-size: 28px;
            transform: scaleX(-1);
        }

        &:not(.___is-active):hover {
            color: @color-secondary;
        }
    }

    &.___close {
        color: black;

        .icon(cross);
        &:before {
            font-size: 12px;
        }

        &:not(.___is-active):hover {
            color: @color-secondary;
        }
    }

    &.___settings {
        .icon(settings);
        &:before {
            font-size: 18px;
            margin-bottom: 2px;
        }

        &:not(.___is-active):hover {
            color: @color-secondary;
        }
    }

    &.___list {
        margin-left: auto;
        .icon(list);
        &:before {
            font-size: 18px;
        }
    }

    &.___tiles {
        .icon(tiles);
        &:before {
            font-size: 18px;
        }
    }

    &.___privacy {
        flex-shrink: 0;
        margin-left: 8px;
        margin-top: -8px;

        .icon(friends);
        &:before {
            font-size: 22px;
        }

        &.___is-private {
            .icon(eye-invisible);
            &:before {
                font-size: 22px;
            }
        }

        &.___is-public {
            .icon(public);
            &:before {
                font-size: 22px;
            }
        }
    }

    &.___delete {
        .icon(delete-fill);
        &:before {
            font-size: 20px;
        }
    }

    &.___save {
        .icon(save);
        &:before {
            font-size: 16px;
        }
    }

    &.___add {
        .icon(plus);
        &:before {
            font-size: 10px;
        }
    }

    &.___move {
        .icon(resize);
        &:before {
            font-size: 18px;
        }
    }

    &.___dropdown {
        .icon(angle-down);
        &:before {
            // position: absolute;
            // right: 16px;
            font-size: 5px;
            color: @color-black;
            // line-height: inherit;
            // pointer-events: none;
            // transition: color @trans-fast, transform @trans-fast;
        }
    }
}

.button__text {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    transition: color @trans-fast;
    user-select: none;

    @media (max-width: @screen-xs-max) {
        height: 36px;
    }

    &.___edit-post {
        margin-bottom: 20px;
        padding: 0 10px;
        font-weight: normal;
        color: @color-grey--60;

        .icon(pencil);
        &:before {
            font-size: 14px;
            margin: 0 8px 1px 0;
        }

        &:hover {
            color: @color-secondary;
        }
    }

    &.___grey {
        color: @color-grey--60;

        &:hover {
            color: @color-secondary;
        }
    }
}

.button__underline {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 40px;
    color: @color-grey--80;
    cursor: pointer;
    transition: color @trans-fast;
    user-select: none;

    &:after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: @color-grey--60;
        left: 0;
        right: 0;
        bottom: 7px;
        transition: background-color @trans-fast;
    }

    &:hover {
        color: @color-black;

        &:after {
            background-color: @color-grey--80;
        }
    }

    @media (max-width: @screen-xs-max) {
        height: 36px;

        .form & {
            height: 40px;
        }
    }
}
