.card-document {
    position: relative;
    background-color: @color-white;
    padding: 20px 20px 20px 75px;
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
    width: 100%; // IE10-11 COLUMN FIX
    border-radius: @border-radius-card;
    box-shadow: @shadow-card;

    @media ( min-width: @screen-sm ) {
        padding: 30px 30px 30px 80px;
    }
}

.card-document__format {
    display: flex; align-items: center; justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    left: 24px;
    background-color: @color-grey--50;
    border-radius: 50%;
    overflow: hidden;
}

.card-document__title {
    .font(title-small);
    font-weight: bold;
    color: @color-primary;

    @media ( max-width: @screen-xs-max ) {
        .font(small);
        .ellipsis(@line-height--base, 3);
    }

    @media ( min-width: @screen-sm ) {
        margin: 0 0 10px 0;
        .ellipsis(@line-height--title-small, 2);
    }
}

.card-document__download {
    .icon(download);
    &:before {
        margin: 0 8px 1px 0;
        font-size: 15px;
    }

    @media ( max-width: @screen-xs-max ) {
        width: 36px;
        padding: 0;

        span {
            display: none;
        }

        &:before {
            margin: 0 0 1px 0;
        }
    }
}
