.card-initiative {
    width: 100%;
    background-color: @color-white;
    padding: 30px 30px 20px 30px;
    margin: 0 0 20px 0;
    border-radius: @border-radius-card;
    box-shadow: @shadow-card;

    @media ( max-width: @screen-md-max ) {
        display: none;
    }
}

.card-initiative__title {
    margin: 0 0 20px 0;
    font-size: @font-size--title-small;
    line-height: @line-height--title-small;
    font-weight: bold;
    color: @color-primary;
}

.card-initiative__line {
    position: relative;
    height: 1px;
    margin-bottom: -1px;
    background-color: @color-grey--40;
}

.card-initiative__logo {
    position: relative;
    width: 100%;
}

.card-initiative__link {
    display: flex;
    align-items: center;
    margin: 25px 0 0 0;
    padding: 5px 0;
    color: @color-primary;

    .icon(angle-right);
    &:before {
        font-size: 9px;
        margin: 0 5px 1px 0;
    }

    .icon(external, after);
    &:after {
        font-size: 12px;
        margin: 0 0 0 5px;
        color: @color-grey--60;
    }
}
