.card-blog-post {
    position: relative;
    background-color: @color-white;
    padding: 20px 20px 10px 20px;
    margin: 0 0 20px 0;
    width: 100%; // IE10-11 COLUMN FIX
    border-radius: @border-radius-card;
    box-shadow: @shadow-card;

    @media ( min-width: @screen-sm ) {
        padding: 30px 30px 20px 80px;
    }

    .read-more {
        color: @color-grey--80;
    }
}

.card-blog-post__picture {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    left: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    @media ( max-width: @screen-xs-max ) {
        display: none;
    }
}

.card-blog-post__icon {
    position: relative;

    svg {
        width: 100%;
        height: 100%;
    }

    path {
        fill: white;
    }
}

.card-blog-post__post {
    flex: 1 1 auto;
}

.card-blog-post__title {
    display: block;
    .font(title-small);
    font-weight: bold;
    color: @color-primary;

    @media ( max-width: @screen-xs-max ) {
        .font(large);
    }
}

.card-blog-post__meta {
    .font(small);
    color: @color-grey--60;

    a {
        color: @color-secondary;
        transition: color @trans-fast;

        &:hover {
            color: @color-primary;
        }
    }

    @media ( min-width: @screen-sm ) {
        margin: 0 0 15px 0;
    }
}

.card-blog-post__subject {
    @media ( max-width: @screen-xs-max ) {
        display: none;
    }
}

.card-blog-post__date {
    @media ( max-width: @screen-xs-max ) {
        display: none;
    }
}

.card-blog-post__image {
    display: block;
    position: relative;
    width: 100%;
    height: 140px;
    margin: 0 0 20px 0;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    @media ( max-width: @screen-xs-max ) {
        height: 100px;
    }
}

.card-blog-post__actions {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 0;

    @media ( max-width: @screen-xs-max ) {
        margin: 15px 0 0 0;
    }
}
