.card-list-recommended {
    position: relative;
    width: 100%;

    @media ( max-width: @screen-xs-max ) {
        border-bottom: 1px solid @color-grey--50;
    }

    @media ( min-width: @screen-sm ) {
        background-color: @color-white;
        padding: 30px;
        margin: 0 0 20px 0;
        box-shadow: @box-shadow;
    }

    @media ( max-width: @screen-md-max ) {
        .read-more {
            justify-content: flex-end;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .read-more__circle {
            order: 1;
            margin: 0 0 0 8px;
        }

        &.___desktop-only {
            display: none;
        }
    }

    @media ( min-width: @screen-lg ) {
        .read-more {
            margin-top: 25px;
        }
    }
}

.card-list-recommended__title {
    display: inline-block;
    position: relative;
    font-size: @font-size--title-small;
    line-height: @line-height--title-small;
    font-weight: bold;
    color: @color-primary;

    @media ( max-width: @screen-xs-max ) {
        font-size: @font-size--large;
        line-height: 40px;
    }
}

.card-list-recommended__item {
    display: flex;
    position: relative;
    padding: 10px 0;
    color: @color-black;
    text-decoration: none;

    @media ( max-width: @screen-md-max ) {
        line-height: 24px;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    @media ( min-width: @screen-lg ) {
        &:last-child {
            margin-bottom: -10px;
        }
    }

    &:hover .card-list-recommended__article {
text-decoration: underline;
    }
}

.card-list-recommended__picture {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin: 0 16px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.card-list-recommended__justify {
    flex-shrink: 1;
    width: 100%;
}

.card-list-recommended__article {
    color: @color-primary;
}

.card-list-recommended__name {
    .font(small);
    color: @color-grey--70;
}

.card-list-recommended__likes {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: @color-grey--80;

    .icon(heart);
    &:before {
        margin: 0 5px 2px 0;
        font-size: 16px;
        color: @color-grey--60;
    }
}
