.card-profile {
  position: relative;
  background-color: @color-white;
  padding: 20px;
  margin-bottom: 20px;
  color: inherit;
  width: 100%; // IE10-11 COLUMN FIX
  border-radius: @border-radius-card;
  box-shadow: @shadow-card;

  @media (min-width: @screen-sm) {
    padding: 30px;
  }

  .row.fill & {
    flex: 1 0 auto;
  }

  // Editable profile field
  .___is-editable {
    .editable-field {
      cursor: pointer;
      transition: color @trans-fast;

      .icon(pencil, after);
      &:after {
        margin: 0 0 2px 5px;
        opacity: 0;
        font-size: 14px;
        color: @color-primary;
        transition: opacity @trans-fast;
      }
    }

    .editor {
      display: none;
    }

    &.main__title {
      width: 100%;

      .editable-field:after {
        margin: 0 0 0 10px;
        font-size: 22px;
      }

      input {
        width: 100%;
      }
    }

    &.___is-editing {
      .editable-field {
        display: none;
      }

      .editor {
        display: block;
      }
    }

    &:not(.___is-editing):hover {
      .editable-field {
        color: @color-primary;

        &:after {
          opacity: 1;
        }
      }
    }

    input {
      display: none;
    }

    &.___is-editing {
      .editable-field {
        display: none;
      }

      input {
        display: inline;
      }
    }
  }

  // Empty profile field
  .___is-empty {
    display: inline-flex;

    &.___is-editing span {
      display: none;
    }

    .card-profile__fill {
      display: inline-flex;
      align-items: center;
      color: @color-secondary;
      display: none;

      .icon(pencil, after);
      &:after {
        margin: 0 0 2px 5px;
        font-size: 14px;
        color: @color-primary;
        transition: opacity @trans-fast;
      }
    }

    &:not(.___is-filled) {
      cursor: pointer;

      span {
        color: @color-grey--50;
      }

      &:hover {
        .card-profile__fill {
          display: block;
        }
      }
    }

    &.___is-filled {
      .card-profile__fill {
        display: none;
      }
    }
  }
}

.card-profile__title {
  display: block;
  margin: 0 0 5px 0;
  .font(title-small);
  font-weight: bold;
  color: @color-primary;

  @media (min-width: @screen-sm) {
    margin: 0 0 10px 0;
  }
}

.card-profile__picture {
  flex-shrink: 0;
  margin-right: 24px;
  position: relative;
  background-position: center bottom;
  background-size: 73%;
  border-radius: 50%;
  overflow: hidden;

  @media (max-width: @screen-xs-max) {
    width: 64px;
    height: 64px;
  }

  @media (min-width: @screen-sm) {
    width: 96px;
    height: 96px;
  }
}

.card-profile__edit-picture {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-color: @color-black;
  color: @color-white;
  .font(extra-small);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility @trans-fast, opacity @trans-fast;
  cursor: pointer;

  .card-profile__picture:hover & {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.card-profile__details {
  > li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;

    @media (max-width: @screen-xs-max) {
      flex-wrap: wrap;
      flex-direction: column;
    }

    > span {
      flex-grow: 1;
    }
  }
}

.card-profile__detail-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: @screen-xs-max) {
    align-self: stretch;
  }
  @media (min-width: @screen-sm) {
    flex-grow: 1;
  }
}

.card-profile__social {
  margin-top: 34px;
  max-width: 226px;

  li {
    display: flex;
    justify-content: space-between;
  }

  span {
    font-weight: bold;
  }
}

.card-profile__about {
  .___is-editable-field.___is-editing {
    // display: none;
  }
}

.___is-editable-field {
  flex-grow: 1;
}
