.card-list-trending {
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;

    @media ( max-width: @screen-xs-max ) {
        border-bottom: 1px solid @color-grey--50;
    }

    @media ( min-width: @screen-sm ) {
        background-color: @color-white;
        box-shadow: @box-shadow;
    }

    @media ( max-width: @screen-md-max ) {
        .read-more {
            justify-content: flex-end;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .read-more__circle {
            order: 1;
            margin: 0 0 0 8px;
        }

        &.___desktop-only {
            display: none;
        }
    }

    @media ( min-width: @screen-lg ) {
        .read-more {
            margin-top: 25px;
        }
    }
}

.card-list-trending__title {
    font-size: @font-size--title-small;
    line-height: @line-height--title-small;
    font-weight: bold;
    color: @color-primary;

    @media ( max-width: @screen-xs-max ) {
        font-size: @font-size--large;
        line-height: 40px;
    }
}

.card-list-trending__icon {
    position: absolute;
    top: 27px;
    right: 27px;
    .icon(trending);

    &:before {
        display: flex; align-items: center; justify-content: center;
        width: 30px;
        height: 30px;
        padding: 0 1px 1px 0;
        font-size: 11px;
        background-color: @color-secondary-highlight;
        color: @color-white;
        border-radius: 50%;
    }

    @media ( max-width: @screen-md-max ) {
        display: none;
    }
}

.card-list-trending__item {
    display: block;
    position: relative;
    padding: 10px 0;
    color: @color-black;
    text-decoration: none;

    @media ( max-width: @screen-md-max ) {
        flex-wrap: wrap;
        line-height: 24px;

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }

    @media ( min-width: @screen-lg ) {
        &:last-child {
            margin-bottom: -10px;
        }
    }

    &:hover .card-list-trending__category {
        text-decoration: underline;
    }
}

.card-list-trending__category {
   color: @color-primary;
}

.card-list-trending__likes {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: @color-grey--80;

    .icon(heart);
    &:before {
        margin: 0 5px 2px 0;
        font-size: 16px;
        color: @color-grey--60;
    }
}
