.checkbox {
    display: flex;
    position: relative;

    &.___large {
        label {
            padding: 0;

            &:before {
                position: relative;
                display: block;
                width: 16px;
                height: 16px;
                top: auto;
                left: auto;
                border-color: @color-grey;
                border-radius: 3px;
            }

            &:after {
                top: 4px;
                left: 3.5px;
                font-size: 8px;
            }
        }
    }

    label {
        min-height: 30px;
        padding: 3px 0 3px 22px;
        user-select: none;
        cursor: pointer;

        &:before {
            position: absolute;
            left: 0;
            top: 7px;
            content: '';
            width: 15px;
            height: 15px;
            background: @color-white;
            border: 2px solid @color-grey;
            border-radius: 2px;
            transition: border-color @trans-fast;
        }

        .icon(check, after);
        &:after {
            position: absolute;
            top: 11px;
            left: 3.5px;
            font-size: 7px;
            color: transparent;
            transition: color @trans-fast;
        }

        &:hover:after {
            color: @color-grey--50;
        }
    }

    input[type=checkbox] {
        width: 0;
        opacity: 0;

        &:checked + label {
            &:before {
                border-color: @color-secondary;
            }
            &:after {
                color: @color-secondary;
            }
        }
        &:focus + label:before {
            border-color: @color-secondary;
        }
    }
}
