.document {
    display: flex;
    align-items: center;

    .content & {
        margin: 0 0 10px;
    }

    a {
        padding: 5px 0;
        border: none !important;
        color: @color-secondary;

        &:before {
            width: 20px;
            margin-right: 10px;
            text-align: center;
        }
    }

    &.___folder a {
        .icon(folder);
        &:before {
            font-size: 14px;
            color: @color-folder;
            padding-bottom: 3px;
        }
    }

    &.___img a {
        .icon(image);
        &:before {
            font-size: 16px;
            color: @color-image;
            padding-bottom: 2px;
        }
    }

    &.___doc a {
        .icon(doc);
        &:before {
            font-size: 17px;
            color: @color-doc;
            padding-bottom: 2px;
        }
    }

    &.___pdf a {
        .icon(doc-pdf);
        &:before {
            font-size: 16px;
            color: @color-error;
            padding-bottom: 2px;
        }
    }

    span {
        margin-left: 8px;
        color: @color-grey;
    }
}
