.file {
    transition: background-color @trans-fast;

    &.___is-checked {
        background-color: @color-secondary--bright;
    }
}

.file__check {
    position: relative;

    .checkbox {
        position: absolute;
        top: 0;
        left: 10px;
        right: 0;
        bottom: 0;

        label {
            &:before {
                position: static;
                margin-top: 13px;
            }

            &:after {
                top: 17px;
            }
        }
    }
}

.file__name {
    position: relative;

    > a,
    > div {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 0;
        transition: color @trans-fast;

        &:hover {
            color: @color-primary;
        }
    }

    span {
        position: absolute;
        top: 0;
        left: -10px;
        padding: 10px;
        background-color: white;
        white-space: nowrap;
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity @trans-fast, visibility @trans-fast;
        box-shadow: 0 10px 15px -5px fade(black, 10%);
    }

    &:hover span {
        opacity: 1;
        visibility: visible;
    }
}

.file__type {
    svg {
        margin: 0 auto;
    }
}

.file__fav {
    position: relative;

    button {
        .icon(star);
        &:before {
            color: @color-grey--60;
            z-index: 1;
            transition: color @trans-fast, opacity @trans-fast;
        }

        .icon(star-fill, after);
        &:after {
            color: white;
            transition: color @trans-fast;
        }

        &:hover {
            &:before {
                color: @color-secondary;
            }
        }

        .file.___is-favorite & {
            &:before {
                opacity: 0;
            }
            &:after {
                color: @color-secondary;
            }
        }

        &:before,
        &:after {
            font-size: 18px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}
