.file-tile {
    position: relative;
    padding: 0 10px 20px;
    cursor: pointer;

    .checkbox {
        position: absolute;
        top: 10px;
        left: 12px;

        opacity: 0;
        transform: translateX(-20px);
        transition: opacity @trans-fast, transform @trans-material-fast;
    }

    &.___is-checked {
        .checkbox {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &.___folder {
        .file-tile__image {
            background-color: tint(@color-folder, 92%);
            color: tint(@color-folder, 50%);

            .icon(folder);
            &:before {
                font-size: 40px;
                margin-bottom: 1px;
            }
        }

        &:hover,
        &.___is-checked {
            .file-tile__image {
                color: @color-folder;
            }
        }
    }

    &.___doc {
        .file-tile__image {
            background-color: tint(@color-doc, 90%);
            color: tint(@color-doc, 46%);

            .icon(doc);
            &:before {
                font-size: 45px;
                margin-bottom: 1px;
            }
        }

        &:hover,
        &.___is-checked {
            .file-tile__image {
                color: @color-doc;
            }
        }
    }

    &.___pdf {
        .file-tile__image {
            background-color: tint(@color-pdf, 94%);
            color: tint(@color-pdf, 60%);

            .icon(pdf);
            &:before {
                font-size: 42px;
            }
        }

        &:hover,
        &.___is-checked {
            .file-tile__image {
                color: @color-pdf;
            }
        }
    }

    &:hover {
        .checkbox {
            opacity: 1;
            transform: translateX(0);
        }

        .file-tile__name {
            color: black;
        }
    }
}

.file-tile__fav {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 38px;
    z-index: 1;

    opacity: 0;
    transform: translateX(20px);
    transition: opacity @trans-fast, transform @trans-material-fast;

    .icon(star);
    &:before {
        color: @color-grey--60;
        z-index: 1;
        transition: opacity @trans-fast, color @trans-fast;
    }

    .icon(star-fill, after);
    &:after {
        color: white;
        transition: color @trans-fast;
    }

    &:before,
    &:after {
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        &:before {
            color: @color-secondary;
        }
    }

    .file-tile:hover & {
        opacity: 1;
        transform: translateX(0);
    }

    .file-tile.___is-favorite & {
        opacity: 1;
        transform: translateX(0);

        &:before {
            opacity: 0;
        }

        &:after {
            color: @color-secondary;
        }
    }
}

.file-tile__image {
    position: relative;
    height: 110px;
    margin-bottom: 20px;
    overflow: hidden;
    pointer-events: none;

    transition: color @trans-fast;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-height: 100%;
        user-select: none;
    }
}

.file-tile__name {
    position: relative;
    .font(small);
    text-align: center;

    span {
        &:first-child {
            .ellipsis(22px, 2);
        }

        &:not(:first-child) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: white;
            padding-bottom: 20px;
            z-index: 1;
            box-shadow: 0 10px 15px -5px fade(black, 10%);

            opacity: 0;
            visibility: hidden;
            transition: opacity @trans-fast, visibility @trans-fast;

            .file-tile:hover & {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}