.files {
  width: 100%;
  table-layout: fixed;

  .file {
    > td {
      border-top: 1px solid @color-grey--20;

      &:nth-child(4),
      &:nth-child(5) {
        text-align: right;
      }

      @media (max-width: @screen-xs-max) {
        &:nth-child(4),
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }

  thead {
    th {
      position: relative;
      font-weight: normal;

      &:nth-child(1) {
        width: 26px;
      }

      &:nth-child(2) {
        width: 40px;
      }

      &:nth-child(3) {
        width: 100%;
      }

      &:nth-child(4) {
        width: 140px;
      }

      &:nth-child(5) {
        width: 220px;
      }

      &:nth-child(4),
      &:nth-child(5) {
        button {
          text-align: right;

          span {
            padding-right: 0;
          }
        }
      }

      @media (max-width: @screen-xs-max) {
        &:nth-child(4),
        &:nth-child(5) {
          display: none;
        }
      }
    }

    &.___is-checked .checkbox,
    &:hover .checkbox {
      opacity: 1;
    }

    .checkbox {
      position: absolute;
      top: 0;
      left: 10px;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity @trans-fast;

      label {
        &:before {
          position: static;
          margin-top: 13px;
        }

        &:after {
          top: 17px;
        }
      }
    }

    button {
      width: 100%;
      padding: 10px 0;
      text-align: left;

      &.___is-descending {
        span:after {
          transform: scaleY(-1);
        }
      }

      &:hover,
      &.___is-active {
        span {
          padding-right: 18px !important;

          &:after {
            opacity: 1;
          }
        }
      }

      span {
        position: relative;
        padding-right: 18px;
        white-space: nowrap;
        transition: padding @trans-material-fast;

        .icon(dropdown, after);
        &:after {
          position: absolute;
          top: 7px;
          right: 0;
          font-size: 5px;
          opacity: 0;
          transition: transform @trans-fast, opacity @trans-fast;
        }
      }
    }
  }
}
