.file-view {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F9F9F9;
}

.file-view_image {
    transition: transform @trans-material-fast;
}

.file-view_icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        pointer-events: none;
        user-select: none;
    }

    span {
        margin-top: 8px;
    }
}

.file-view_header {
    position: relative;
    width: 100%;
    height: 52px;
    background-color: white;
    box-shadow: @box-shadow;

    display: flex;
    align-items: center;
}

.file-view_title {
    .font(large);
}

.file-view_date {
    margin-top: -4px;
    margin-bottom: 2px;
    .font(small);
    color: @color-grey--80;
}

.file-view_back {
    width: 52px;
    height: 100%;
    margin-left: -10px;
    margin-right: 5px;
}

.file-view_thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
        margin-top: 20px;
    }
}

.file-view_controls-wrapper {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
}

.file-view_controls {
    padding: 0 5px;
    background-color: white;
    border-radius: 3px;

    display: flex;
    align-items: center;

    opacity: 0;
    transition: opacity @trans-fast;

    .file-view:hover & {
        opacity: .5;
    }

    &:hover {
        opacity: 1 !important;
    }
}

.file-view_zoom-level {
    .font(small);
    color: @color-grey--80;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 5px;
}