// Position children next to each other with various options
.flexer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &.___margin-top {
        margin-top: 40px;

        @media ( max-width: @screen-xs-max ) {
            margin-top: 20px;

            .modal.___blue & {
                margin-top: 40px;
            }
        }
    }

    &.___margin-bottom {
        margin-bottom: 30px;

        @media ( max-width: @screen-xs-max ) {
            margin-bottom: 15px;
        }
    }

    &.___nowrap {
        flex-wrap: nowrap;
    }

    &.___gutter {
        margin-bottom: -10px;

        &.___margin-bottom {
            margin-bottom: 20px;

            @media ( max-width: @screen-xs-max ) {
                margin-bottom: 5px;
            }
        }

        > * {
            margin-bottom: 10px;
        }

        > *:not(:last-child) {
            margin-right: 20px;

            @media ( max-width: @screen-xs-max ) {
                margin-right: 15px;
            }
        }
    }

    &.___gutter-small {
        flex-wrap: nowrap;
        margin-bottom: -10px;

        &.___margin-bottom {
            margin-bottom: 10px;

            @media ( max-width: @screen-xs-max ) {
                margin-bottom: 5px;
            }
        }

        > * {
            margin-bottom: 10px;
        }

        > *:not(:last-child) {
            margin-right: 10px;

            @media ( max-width: @screen-xs-max ) {
                margin-right: 5px;
            }
        }

        .form__item {
            flex-grow: 1;
        }
    }

    &.___space-between {
        justify-content: space-between;
    }

    &.___end {
        justify-content: flex-end;
    }

    &.___top {
        align-items: flex-start;
    }

    &.___bottom {
        align-items: flex-end;
    }
}

.buttons {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    flex-wrap: wrap;

    & > .button:not(:last-child) {
        margin-right: 12px;
    }

    &.___no-margin {
        margin: 0;
    }

    &.___margin-top {
        margin-top: 40px;

        @media ( max-width: @screen-xs-max ) {
            margin-top: 20px;

            .modal.___blue & {
                margin-top: 40px;
            }
        }
    }

    &.___margin-top-extra {
        margin-top: 60px;

        @media ( max-width: @screen-xs-max ) {
            margin-top: 30px;
        }
    }

    &.___gutter {
        margin-bottom: -10px;

        > * {
            margin-bottom: 10px;
        }

        > *:not(:last-child) {
            margin-right: 20px;

            @media ( max-width: @screen-xs-max ) {
                margin-right: 15px;
            }
        }
    }

    &.___space-between {
        justify-content: space-between;
    }

    &.___center {
        justify-content: center;
    }

    &.___end {
        justify-content: flex-end;
    }

    &.___hide-on-tablet {
        @media ( max-width: @screen-md-max ) {
            display: none;
        }
    }

    &.___vertical-mobile {
        @media ( max-width: @screen-xs-max ) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
