.http-error-page {

}

.http-error-page__title {
    text-align: center;
    color: @color-primary;
    font-weight: bold;
    .font(title-large);
    margin-bottom: 20px;
}

.http-error-page__text {
    text-align: center;
    .font(title-small);
    margin-bottom: 55px;
}

.http-error-page__icon {
    text-align: center;

    [class^="icon-"]{
        font-size: 175px;
        color: @color-secondary;
    }
}
