.lead {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: @color-white;
    color: @color-white;
    text-shadow: @text-shadow;
    text-align: center;
    display: flex;
    flex-direction: column;

    &.___rounded {
        border-radius: 5px;

        &:before {
            border-radius: 5px;
        }

        .lead__justify {
            @media (min-width: @screen-sm) {
                min-height: 260px;
            }
        }
    }

    &.___has-background {
        &.___has-overlay {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                display: block;
                background: fade(@color-primary, 25%);
                background: linear-gradient(
                    to right,
                    fade(@color-primary, 40%) 0%,
                    fade(@color-primary, 0%) 100%
                );
            }
        }

        .button.___grey {
            background-color: fade(black, 50%);

            &:hover {
                background-color: fade(black, 75%);
            }
        }
    }

    &.___video {
        .lead__background {
            cursor: pointer;
        }
    }

    &.___text-align-left {
        text-align: left;

        .lead__title,
        .lead__subtitle {
            margin-left: 0;
            margin-right: 0;
            max-width: 580px;
        }
    }

    &.___no-content {
        &:before {
            background: none;
        }
    }

    &.___group {
        @media (max-width: @screen-xs-max) {
            margin-bottom: -46px;
            padding-bottom: 46px;
        }

        @media (min-width: @screen-sm) {
            margin-bottom: -26px;
            padding-bottom: 26px;
        }

        &:not(.___has-background) {
            color: @color-primary;
            text-shadow: none;

            &:before {
                display: none;
            }

            .lead__justify {
                min-height: 0;
            }

            .lead__title {
                display: flex;
                align-items: center;

                span:after {
                    color: @color-grey--50;
                }

                .group__subtitle {
                    color: @color-grey--70;
                }
            }
        }

        .group__subtitle {
            font-size: 14px;
            line-height: 20px;
        }

        .lead__justify {
            flex-direction: row;
            align-items: flex-start;
            justify-content: stretch;
            text-align: left;

            .button.___options {
                margin-left: auto;
            }

            @media (min-width: @screen-sm) {
                min-height: 260px;
            }
        }

        .picture {
            width: 150px;
            height: 150px;
            margin-right: 30px;

            @media (max-width: @screen-md-max) {
                display: none;
            }
        }

        .lead__title {
            margin: 0;

            > button {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            span {
                display: inline-block;

                .icon(info, after);
                &:after {
                    margin-left: 15px;
                    font-size: 25px;
                    position: absolute;
                    bottom: -2px;
                    line-height: inherit;
                }

                @media (max-width: @screen-xs-max) {
                    &:after {
                        display: none;
                    }
                }

                @media (min-width: @screen-sm) {
                    position: relative;
                    margin-right: 50px;
                }
            }
        }

        .flexer {
            flex-wrap: wrap;

            @media (min-width: @screen-md) {
                flex-shrink: 0;
            }
        }

        &.___compact {

            .lead__justify {
                min-height: 0;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .lead__title {
                .font(title-small);
            }
        }
    }

    &.___event {
        .play-button {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }

        .lead__title {
            @media (min-width: @screen-sm) {
                .font(title-humongous);
            }
        }

        .flexer {
            @media (max-width: @screen-xs-max) {
                margin-top: 15px;
            }

            @media (max-width: @screen-md-max) {
                width: 100%;
                flex-direction: column;
                align-items: stretch;
            }

            > *:not(:last-child) {
                @media (max-width: @screen-md-max) {
                    margin-right: 0;
                }
            }
        }

        @media (max-width: @screen-xs-max) {
            margin-bottom: -55px;
            padding-top: 10px;
            padding-bottom: 35px;

            &.___video {
                padding-top: 0;
                color: @color-grey--60;
                text-shadow: none;

                &:before {
                    display: none;
                }

                .lead__title {
                    color: @color-secondary;
                }
            }
        }
    }

    &.___forum {
        > .container {
            position: relative;
            width: 100%;
            z-index: 1;
        }

        &:before {
            display: none;
        }
    }

    &.___home {
        overflow: hidden;
        transition: opacity @trans-normal, height @trans-material-normal,
            margin-top @trans-material-normal;

        .lead__justify {
            @media (max-width: @screen-xs-max) {
                min-height: 180px;
            }

            @media (min-width: @screen-sm) {
                min-height: 320px;
            }
        }

        .button {
            padding: 0;
            width: 166px;
        }

        @media (max-width: @screen-xs-max) {
            margin-left: -20px;
            margin-right: -20px;

            .lead__subtitle {
                display: none;
            }

            .buttons {
                margin-top: 20px;
            }
        }

        @media (max-width: @screen-md-max) {
            .button {
                width: 130px;
            }
        }

        @media (min-width: @screen-sm) {
            border-radius: 5px;
        }
    }
}

.lead .read-more {
    margin-top: 10px;
    color: white;
    text-shadow: none;
}

.lead__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    color: @color-white;
    transition: background-color @trans-fast, color @trans-fast;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;

    &:hover,
    &:focus {
        background-color: white;
        color: @color-black;
    }

    .icon(cross);
    &:before {
        font-size: 14px;
    }

    @media (max-width: @screen-xs-max) {
        &:before {
            font-size: 12px;
        }
    }
}

.lead__background {
    position: relative;
    background-color: @color-secondary--light;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (max-width: @screen-xs-max) {
        height: 130px;
    }

    @media (min-width: @screen-sm) {
        .lead.___forum &,
        .lead.___event &,
        .lead.___group & {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .lead.___forum & {
            height: 200px;
        }

        .lead.___event &,
        .lead.___group & {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                display: block;
                background: fade(@color-primary, 25%);
                background: linear-gradient(
                    to right,
                    fade(@color-primary, 40%) 0%,
                    fade(@color-primary, 0%) 100%
                );
            }
        }
    }
}

.lead__justify {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media (max-width: @screen-xs-max) {
        min-height: 124px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media (min-width: @screen-sm) {
        min-height: 330px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .___forum & {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    }

    > .container {
        width: 100%;
    }

    .lead.___event & {
        text-align: left;
    }
}

.lead__title {
    position: relative;
    .font(title-extra-large);

    @media (min-width: @screen-sm) {
        .font(title-huge);
    }
}

.lead__subtitle {
    position: relative;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    .font(small);

    @media (min-width: @screen-sm) {
        .font(title-small);
    }
}

.lead__button {
    margin: 10px 0 0 0;
    float: right;
    text-shadow: none;

    .___blue & {
        background-color: @color-black;

        &:hover {
            color: @color-black;
            background-color: @color-white;
        }
    }
}
