.link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    color: @color-secondary;

    .icon(angle-right);
    &:before {
        margin-right: 7px;
        margin-bottom: 2px;
    }
}