.list-members {
    flex: 1 1 auto;

    @media ( min-width: @screen-lg ) {
        padding-right: 10px;
    }

    .search-bar + & {
        padding-top: 10px;
    }
}

.list-members__member {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
    color: @color-black;
    text-decoration: none;

    @media ( max-width: @screen-md-max ) {
        flex-wrap: wrap;
        line-height: 24px;
    }

    .button, .selector {
        margin-left: 20px;
    }

    .selector {
        max-width: 140px;
    }

    .card > & {
        padding: 0;
    }
}

.list-members__link {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.list-members__picture {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin: 0 15px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;

    &.___invite {
        background-position: center bottom;
        background-size: 73%;
    }
}

.list-members__name {
    flex-grow: 1;
    font-weight: bold;
}

.list-members__add {
    position: relative;
    flex-shrink: 0;

    &.___is-invited {
        background-color: @color-primary;
    }
}

.list-members__add-icons {
    position: absolute;
    width: 200%;
    height: 100%;
    display: flex;
    right: 0;
    top: 0;
    transition: transform @trans-material-fast;

    .___is-invited & {
        transform: translateX(50%);
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;

        &.___plus {
            .icon(plus);
            &:before {
                font-size: 11px;
            }
        }
        &.___check {
            .icon(check);
            &:before {
                margin: 1px 0 0 2px;
                font-size: 12px;
            }
        }
        &.___send {
            .icon(send);
            &:before {
                margin: 0 0 1px 3px;
                font-size: 13px;
            }
        }
    }
}
