.play-button {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: @box-shadow;
    text-shadow: none;

    .icon(play);
    &:before {
        position: relative;
        font-size: 70px;
        color: white;
        z-index: 1;
        transition: color @trans-fast;
    }

    &:after {
        content: '';
        position: absolute;
        width: 65px;
        height: 65px;
        background-color: @color-primary;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        transition: background-color @trans-fast;
    }

    @media ( max-width: @screen-xs-max ) {
        width: 60px;
        height: 60px;

        &:before {
            font-size: 60px;
        }

        &:after {
            width: 55px;
            height: 55px;
        }
    }

    .card & {
        width: 46px;
        height: 46px;

        &:before {
            font-size: 46px;
        }

        &:after {
            width: 40px;
            height: 40px;
        }
    }

    .lead.___video &,
    .upload-image &,
    .card-blog-post & {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
    }

    .upload-image & {
        opacity: 0;
        visibility: hidden;
        transition: opacity @trans-fast, visibility @trans-fast;

        @media ( max-width: @screen-xs-max ) {
            display: none;
        }
    }

    .upload-image.___uploaded-video & {
        opacity: 1;
        visibility: visible;
    }

    &:not([disabled]) {
        cursor: pointer;

        &:hover,
        .lead__about:hover &,
        .card-blog-post__image:hover & {
            &:before {
                color: @color-primary;
            }

            &:after {
                background-color: @color-white;
            }
        }
    }
}