.poll__result {
    display: flex;
    margin-bottom: 10px;

    > span {
        flex: 0 0 auto;
        width: 50px;
        padding-top: 1px;
    }

    > label {
        flex: 1 1 auto;
        position: relative;

        span {
            display: block;
            position: relative;
            padding: 1px 10px;
        }
    }
}

.poll__result-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-color: @color-grey--40;

    .___most-votes & {
        background-color: #99d8f3;
    }
}