.radio {
    position: relative;
    user-select: none;
    margin-bottom: 5px;

    input[type=radio] {
        position: absolute;
        display: none;
    }

    label {
        display: block;
        position: relative;
        padding-left: 28px;
        z-index: 1;
        cursor: pointer;
    }
}

.radio__check {
    position: absolute;
    background-color: @color-white;
    height: 18px;
    width: 18px;
    top: 2px;
    left: 0;
    border: 2px solid @color-grey--50;
    border-radius: 50%;
    transition: border-color @trans-fast;

    .toolbar.___blue & {
        border-color: @color-primary;
    }

    .radio:hover & {
        border-color: @color-grey--60;
    }

    input[type=radio]:checked ~ & {
        border-color: @color-secondary;

        &:before {
            background-color: @color-secondary;

            .toolbar.___blue & {
                background-color: @color-primary;
            }
        }
    }

    &:before {
        position: absolute;
        content: '';
        height: 10px;
        width: 10px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border-radius: 100%;
        transition: background-color @trans-fast;
    }
}