.read-more {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: @color-black;
    line-height: 1;

    &.___invert,
    .read-more__inverted & {
        color: @color-white;

        .read-more__circle {
            background-color: @color-white;
            color: @color-primary;
        }
    }

    [href=""] > & {
        opacity: 0;
    }

    .content & {
        color: @color-black;
        margin-bottom: 5px;

        &:hover {
            border-color: transparent;
        }
    }

    &.___bottom {
        position: absolute;
        bottom: 30px;
    }

    &.___addgutter {
        margin-left: 10px;
    }

    &.___margin-top {
        margin-top: 40px;
    }

    span {
        font-size: @font-size--medium;
        font-weight: bold;
        padding: 2px 0 0 0;

        @media ( max-width: @screen-xs-max ) {

        }
    }

    @media (max-width: @screen-xs-max) {
        margin: 0;
    }
}

.read-more__circle {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
    background-color: @color-secondary;
    color: @color-white;
    line-height: 20px;
    border-radius: 100%;
    transition: color @trans-fast, background-color @trans-fast;

    @media (max-width: @screen-xs-max) {
        order: 1;
        margin: 0 0 0 8px;
    }

    a.read-more:hover & {
        background-color: @color-primary;
    }

    .icon(arrow-right-circle-transparent);
    &:before {
        display: block;
        font-size: 20px;
        text-shadow: none;
    }

    .read-more-circle:hover & {
        background-color: @color-secondary--light;
        color: @color-secondary--light;
    }

    .___redicon & {
        background-color: #d52b1e;
    }

    .___greenicon & {
        background-color: #76d2b6;
    }
}

.read-more__icon {
    color: @color-primary;
    font-size: 20px;
    margin: 0 8px 0 0;
    transition: color @trans-fast, background-color @trans-fast;
}
