.search-bar {
    position: relative;

    input {
        width: 100%;
        height: 48px;
        padding: 0 45px 0 18px;
        border: 1px solid @color-grey--50;
        transition: border-color @trans-fast;

        &:hover,
        &:focus {
            border-color: @color-secondary;
        }

        @media ( max-width: @screen-xs-max ) {
            height: 40px;
            padding: 0 40px 0 15px;
        }
    }
}

.search-bar__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 100%;
    color: @color-primary;
    cursor: pointer;

    .icon(search);
    &:before {
        font-size: 16px;
    }

    @media ( max-width: @screen-xs-max ) {
        width: 40px;

        &:before {
            font-size: 14px;
        }
    }
}

.search-bar__results {
    color: @color-grey;
    line-height: 46px;

    @media ( max-width: @screen-xs-max ) {
        display: none;
    }
}
