.selector {
    position: relative;
    width: 100%;
    user-select: none;
    color: black;
    text-shadow: none;
    text-align: left;

    &.___filter {
        @media (min-width: @screen-sm) {
            min-width: 200px;
        }
    }

    &.___small {
        .font(small);

        .selector__select {
            height: 40px;
        }
    }

    &.___no-line {
        .selector__select {
            &:not(:hover) {
                border-color: transparent;
            }
        }
    }

    &.___is-open {
        .selector__select:after {
            color: @color-grey--60;
            transform: scaleY(-1);
            z-index: 2;
        }
        .selector__options {
            opacity: 1;
            visibility: visible;
        }
    }

    &.___is-mobile-only {
        display: none;
    }

    &.___margin-top {
        margin-top: 20px;
    }

    &.___margin-bottom {
        margin-bottom: 20px;
    }

    @media ( max-width: @screen-xs-max ) {
        &.___margin-top-mobile {
            margin-top: 10px;
        }

        &.___margin-bottom-mobile {
            margin-bottom: 10px;
        }

        &.___no-margin-top-mobile {
            margin-top: 0;
        }
    }

    &.___is-mobile-only {
        display: none;

        @media ( max-width: @screen-xs-max ) {
            display: block;
            margin: 20px 0;
        }
    }

    select {
        position: absolute;
        width: 100%;
        opacity: 0;
        z-index: -1;
    }

    &.___is-mobile {
        select {
            z-index: 1;
            height: 100%;
        }
    }
}

.selector__label {
    display: none;
}

.selector__select {
    display: flex;
    align-items: center;
    padding: 0 34px 0 16px;
    background-color: @color-white;
    color: @color-grey--80;
    height: 46px;
    border: 1px solid @color-grey--50;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color @trans-fast, border-color @trans-fast;

    &.___has-focus {
        border-color: @color-secondary;
    }

    &.___not-selected {
        color: @color-grey--60;
    }

    .editor__tool-group#editor-insert & {
        .icon(plus);
        &:before {
            font-size: 14px;
            margin-right: 8px;
            margin-bottom: 3px;
            color: @color-icon-grey;
        }

        @media ( max-width: @screen-xs-max ) {
            &:after {
                display: none;
            }

            span {
                display: none;
            }
        }
    }

    .icon(angle-down, after);
    &:after {
        position: absolute;
        right: 16px;
        font-size: 5px;
        color: @color-black;
        line-height: inherit;
        pointer-events: none;
        transition: color @trans-fast, transform @trans-fast;
    }

    @media ( max-width: @screen-xs-max ) {
        padding: 0 28px 0 14px;
        line-height: 38px;

        &:after {
            right: 14px;
        }

        .modal & {
            padding: 0 30px 0 16px;
            line-height: 44px;
        }
    }

    .editor__toolbar & {
        color: @color-grey--60;
        border: none;

        .icon(dropdown, after);

        &:after {
            position: absolute;
            right: 16px;
            /* icon height */
            font-size: 4px;
            color: @color-icon-grey;
            line-height: inherit;
            pointer-events: none;
            transition: color @trans-fast, transform @trans-fast;
        }
    }
}

.selector__options {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 120px;
    padding: 5px 0 6px;
    background-color: @color-white;
    border: 1px solid transparent;
    box-shadow: @box-shadow;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity @trans-fast, visibility @trans-fast;

    .___drop-up & {
        display: flex;
        flex-direction: column-reverse;
        top: auto;
        bottom: 0;
    }

    @media ( max-width: @screen-xs-max ) {
        padding: 4px 0 5px;

        .modal & {
            padding: 5px 0 6px;
        }

        .editor__tool-group#editor-insert & {
            left: auto;
        }
    }

    .editor__toolbar & {
        color: @color-black;
        border: none;
    }
}

.selector__option {
    padding: 5px 16px;
    cursor: pointer;
    transition: color @trans-fast;

    @media ( max-width: @screen-xs-max ) {
        padding: 4px 14px;

        .editor__tool-group#editor-insert & {
            white-space: nowrap;
        }

        .modal & {
            padding: 5px 16px;
        }
    }

    &.___is-selected {
        color: @color-secondary;
        cursor: default;
    }

    &.___is-disabled {
        color: @color-grey--60;
        cursor: default;

        &:hover {
            color: @color-grey--60;
        }

        .editor__tool-group#editor-insert & {
            .icon(plus);
            &:before {
                font-size: 14px;
                margin-right: 8px;
                margin-bottom: 3px;
                color: @color-icon-grey;
            }
        }
    }

    &:hover {
        color: @color-secondary;
    }
}
