.tabber {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .modal__box & {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .search-bar + & {
        margin-top: 30px;
    }
}

.tabber__slides {
    flex: 1 1 auto;
    display: flex;
    transition: transform @trans-material-normal;
}

.tabber__slide {
    overflow-y: auto;
    width: 100%;
    padding-top: 10px;
    transition: opacity @trans-normal, visibility @trans-normal;

    &:not(.___is-active) {
        opacity: 0;
    }

    &.___is-active {
        opacity: 1;
    }
}