.tabmenu {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0 -1px 0;

    .modal & {
        margin: 0; // Event attendees

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: @color-grey--50;
            height: 1px;
        }
    }

    &.___group {
        width: 100%;
        margin: 0;
        padding: 0 0 0 20px;
        margin-bottom: -26px;
        background-color: tint(@color-secondary, 90%);
        z-index: 1;

        a, button {
            padding: 0 10px;
            line-height: 52px;
            color: @color-black;
        }
    }

    @media ( max-width: @screen-xs-max ) {
        display: none;
    }

    a, button {
        position: relative;
        color: @color-grey--70;
        font-size: @font-size--medium;
        line-height: 48px;
        padding: 0 12px;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        user-select: none;
        transition: color @trans-fast;

        &:hover {
            color: @color-black;
        }

        &.___is-active {
            color: @color-primary;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                background-color: @color-secondary;
            }
        }
    }
}

.tabmenu__dropdown {
    .selector__select {
        line-height: 44px;
    }

    .selector__option {
        line-height: 34px;
    }

    &.___group {
        .selector__select {
            border-color: transparent;
            background-color: tint(@color-secondary, 90%);
        }
    }

    @media ( min-width: @screen-sm ) {
        display: none;
    }
}

.tabmenu__search-button {
    margin-left: auto;
    height: 60px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @color-primary;
    transition: color @trans-fast;

    .icon(search);
    &:before {
        font-size: 18px;
    }

    &:hover {
        color: @color-secondary;
    }
}

.tabmenu__search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: @color-primary;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility @trans-fast, opacity @trans-fast;

    &.___is-visible {
        visibility: visible;
        opacity: 1;
    }

    .icon(search);
    &:before {
        position: absolute;
        left: 0;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 64px;
        font-size: 18px;
        pointer-events: none;
    }

    input {
        flex: 1 1 auto;
        padding-left: 64px;
        background-color: transparent;
        border: none;
        font-weight: bold;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: tint(@color-primary, 50%);
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: tint(@color-primary, 50%);
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: tint(@color-primary, 50%);
        }

        &:-ms-input-placeholder { /* IE 10+ */
            color: tint(@color-primary, 50%);
        }
    }

    button {
        flex: 0 0 auto;
        height: 60px;
        width: 64px;

        .icon(cross);
        &:before {
            font-size: 16px;
        }
    }
}