button.tag {
    cursor: pointer;

    &:active {
        background-color: @color-grey--20;
    }
}

.tag {
    position: relative;
    display: inline-flex;
    .font(small);
    color: black;
    background-color: white;
    border: 1px solid @color-grey--50;
    border-radius: @border-radius-small;
    cursor: default;
    user-select: none;
    transition: border-color @trans-fast;

    &:hover {
        border-color: @color-grey--50;
    }

    span {
        padding: 1px 8px;
    }

    &.___active {
        border-color: @color-primary;
    }

    &:focus {
        border-color: @color-primary;
    }
}

.tag__remove {
    width: 20px;
    padding: 0 2px;
    margin-left: -8px;
    color: @color-grey--60;
    cursor: pointer;
    transition: color @trans-fast;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon(cross);
    &:before {
        font-size: 7px;
    }

    &:hover,
    &:focus {
        color: black;
    }

    &:active {
        background-color: @color-grey--20;
    }
}