.toolbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: translateY(100%);
    transition: transform @trans-material-normal, box-shadow @trans-normal;
    z-index: 10;
    font-size: @font-size--medium;

    &.___blue {
        background-color: @c-secondary;
        color: white;
    }

    @media ( max-width: 380px ) {
        .button.___link {
            display: none;
        }
    }

    @media ( max-width: @screen-sm-max ) {
        padding: 15px 25px;

        .button {
            &.___move,
            &.___edit,
            &.___access,
            &.___delete,
            &.___download {
                width: 36px;

                &:before {
                    margin-left: auto;
                    margin-right: auto;
                }

                span {
                    display: none;
                }
            }
        }
    }

    @media ( min-width: @screen-md ) {
        padding: 20px 30px;

        strong {
            padding: 0 10px;
        }
    }

    &.___is-visible {
        transform: translateY(0);
        box-shadow: @box-shadow-overlay;
    }

}