.tree-view {
    position: relative;
}

.tree-view__folder {
    user-select: none;

    .tree-view__folder {
        margin: 0;
        transition: margin-left @trans-material-normal .35s;

        > span {
            opacity: 0;
            height: 0;
            transition: opacity @trans-fast, height @trans-material-normal;
        }
    }

    &:hover {
        > .tree-view__folder {
            margin-left: 24px;
            transition: margin-left @trans-material-normal;

            > span {
                opacity: 1;
                height: 38px;
                transition: opacity @trans-normal, height @trans-material-normal;
            }
        }

        > span {
            &:before {
                transform: rotate(0);
            }
        }
    }

    span {
        display: block;
        padding: 0 24px;
        text-align: left;
        height: 38px;
        line-height: 38px;
        white-space: nowrap;
        cursor: pointer;
        transform: translateZ(0);
        transition: background-color @trans-fast;

        &:hover {
            background-color: rgba(0,0,0,.03);
        }

        .icon(dropdown);
        &:before {
            font-size: 5px;
            margin-right: 7px;
            margin-bottom: 2px;
            transform: rotate(-90deg);
            transition: transform @trans-material-fast;
        }
    }
}