.users-online {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 0 10px;
    margin-bottom: 1rem;
    height: 40px;
    .font(small);
    color: @color-secondary--light;
    user-select: none;

    .icon(users);
    &:before {
        font-size: 20px;
        margin-right: 7px;
    }

    &.___grey {
        color: rgba(0,0,0,.55);

        &:before {
            color: rgba(0,0,0,.4);
        }
    }

    @media ( max-width: @screen-xs-max ) {
        .font(small);

        &:before {
            display: none;
        }
    }

    @media ( max-width: @screen-md-max ) {
        &.___grey {
            display: none;
        }
    }
}
