.article {
  position: relative;
}

.article__title {
  .font(title-huge);
  color: @color-primary;
  margin: 0 0 24px 0;

  @media (max-width: @screen-xs-max) {
    .font(title-extra-large);
    margin: 0 0 16px 0;
  }
}

.article-meta {
  .font(small);
  margin: 0 0 40px 0;

  @media (max-width: @screen-xs-max) {
    .font(small);
    margin-bottom: 20px;
  }
}

.article-meta__date {
  display: inline;
  margin: 0 10px 0 0;
  color: @color-primary;
}

.article-meta__source {
  display: inline;
  color: @color-grey--60;

  span {
    color: @color-primary;
  }
}

.article-links-list {
  padding: 0 0 20px 0;
}

.article-links-list__link {
  a {
    color: @color-primary;
    font-weight: bold;
    text-decoration: none;
    border: none;
    .icon(angle-right);

    &:before {
      margin: 0 10px 2.5px 0;
      transition: transform @trans-fast;
    }

    &:hover {
      color: @color-primary;

      &:before {
        transform: translate(3.5px, 0);
      }
    }
  }
}

.article-highlight {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 0 14px;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 4px;
    background-color: @color-primary;
  }
}

/*CSS3 extras*/
a.tooltip span {
  border-radius: 4px;
  box-shadow: 5px 5px 8px #ccc;
}

.article-links {
  margin: 20px 0 0 0;
  padding: 20px;
  background-color: @color-primary;

  h2 {
    color: @color-primary;
    font-size: @font-size--title-small;
    line-height: @line-height--title-small;
    padding: 0 0 10px 0;
  }
}

.article-links__link {
  a {
    color: @color-black;
    text-decoration: none;
    border: none;
    .icon(angle-right);
    transition: color @trans-fast;

    &:before {
      margin: 0 10px 2.5px 0;
      transition: transform @trans-fast;
    }

    &:hover {
      color: @color-primary;

      &:before {
        transform: translate(3.5px, 0);
      }
    }
  }

  span {
    color: @color-primary;
  }
}

.article-comments__count {
  margin: 0 0 20px 0;
  color: @color-grey--80;

  .icon(comments);
  &:before {
    margin: 0 10px 2px 0;
    font-size: 20px;
    color: @color-grey--50;
  }
}

.article-comments__more {
  color: @color-primary;
  font-weight: bold;
  cursor: pointer;

  .icon(angle-down);
  &:before {
    font-size: 6px;
    margin: 0 5px 0 0;
  }

  &:hover {
    color: @color-secondary;
  }

  opacity: 1;
  transition: all 0.25s;

  &.___hidden {
    pointer-events: none;
    opacity: 0;
    height: 0;
  }
}

.article-comments__more-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height @trans-normal, opacity @trans-normal;
  opacity: 0;

  &.___show {
    overflow: auto;
    max-height: 99990px;
    opacity: 1;
  }
}

.article-preview__card {
  position: fixed;
  background-color: white;
  top: 110px;
  right: 10px;

  padding: 30px;
  max-width: 330px;
  width: ~"calc(100% - 20px)";

  box-shadow: @box-shadow;
  z-index: 1;

  @media (max-width: @screen-md-max) {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    box-shadow: none;
    padding: 0;
    margin-bottom: 20px;
  }
}

.article-preview__text,
.article-preview__title {
  color: @color-secondary;
  .font(title-small);
  @media (max-width: @screen-md-max) {
    display: none;
  }
}

.article-preview__title {
  font-weight: bold;
}

.article-preview__text {
  margin-bottom: 50px;
}

.article-preview__actions {
  display: flex;
  justify-content: center;
  @media (max-width: @screen-md-max) {
    justify-content: flex-start;
  }

  & > .button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
