.article-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media ( max-width: @screen-md-max ) {
        margin-top: 24px;
    }

    @media ( min-width: @screen-lg ) {
        margin-top: 40px;
    }
}

.article-actions__side {
    display: inline-flex;
    backface-visibility: hidden;

    @media ( max-width: @screen-md-max ) {
        padding-top: 0 !important;
        flex-direction: row;
        margin-top: 20px;
        margin-left: auto;

        > *:not(:last-child) {
            margin-right: 20px;
        }
    }

    @media ( min-width: @screen-lg ) {
        flex-direction: column;
        position: absolute;
        top: 0;
        padding-top: 60px;
        right: -70px;
        transform: translateX(100%);
    }
}
