.edit-picture__upload {
    position: relative;
    display: flex; align-items: center; justify-content: center;
    height: 200px;
    border: 3px dashed @color-secondary;
    background-color: @color-secondary--bright;
    color: @color-primary;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color @trans-fast;

    &:hover {
        background-color: @color-secondary--lightest;
    }

    @media ( max-width: @screen-xs-max ) {
        margin: 0 0 20px 0;
    }

    [data-image-uploader].___has-uploaden-image & {
        display: none;
    }

    input {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;

        [data-image-uploader].___has-uploaden-image & {
            display: none;
        }
    }
}

.edit-picture__upload__title {
    font-weight: bold;
}

.edit-picture__previews {
    display: flex;
}

.edit-picture__preview {
    position: relative;
    background: @color-grey--20;
    border-radius: 50%;
    overflow: hidden;
    width: 96px;
    height: 96px;

    &.___small {
        width: 32px;
        height: 32px;
        margin: 0 0 0 20px;

        #new-group & {
            width: 50px;
            height: 50px;
        }
    }

    #edit-picture & {
        background-position: center bottom;
        background-size: 73%;
    }

    #new-group & {
        background-position: center;
        background-size: 58%;
    }

    [data-image-uploader].___has-uploaden-image & {
        background-image: none;
        background-position: center center;
        background-size: cover;
    }
}
.edit-picture__editor {
    display: none;
    height: 285px;


    @media ( max-width: @screen-xs-max ) {
        margin: 0 0 20px 0;
    }

    [data-image-uploader].___has-uploaden-image & {
        display: block;
    }
}
