.form .form__item {
    select,
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="date"],
    input[type="password"] {
        width: 100%;
        height: 46px;
        padding: 0 16px;
        border: 1px solid @color-grey--50;
        transition: border-color @trans-fast;

        &[disabled] {
            opacity: 0.25;
        }

        &.___error {
            border-color: @color-error;
        }

        .editor & {
            height: 40px;
        }

        @media ( max-width: @screen-xs-max ) {
            height: 40px;
            padding: 0 14px;

            .modal & {
                height: 46px;
                padding: 0 16px;
            }
        }
    }

    textarea {
        display: block;
        width: 100%;
        height: 138px;
        padding: 11px 16px;
        border: 1px solid @color-grey--50;
        transition: border-color @trans-fast;
        resize: none;

        &:hover,
        &:focus {
            border-color: @color-secondary;
        }

        @media ( max-width: @screen-xs-max ) {
            padding: 11px 14px;
        }
    }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: @color-grey--60;
}

input::-moz-placeholder,
textarea::-moz-placeholder { /* Firefox 19+ */
    color: @color-grey--60;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* IE 10+ */
    color: @color-grey--60;
}

input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 18- */
    color: @color-grey--60;
}

.form__item {
    display: block;
    margin: 0 0 24px 0;

    &.___no-margin {
        margin: 0;
    }

    @media ( max-width: @screen-md-max ) {
        &.___margin-top-tablet {
            margin-top: 20px;
        }
    }
}

.form__error {
    padding: 6px 0 0 0;
    color: @color-error;
    font-size: @font-size--medium;
    line-height: @line-height--medium;
}

.form__label {
    display: block;
    font-weight: bold;
    margin: 0 0 5px 0;

    &.___margin-top {
        margin-top: 20px;
    }
}

.form__link {
    font-size: @font-size--medium;
    line-height: 24px;
    color: @color-grey--60;
    margin: 0 20px 0 0;
    transition: color @trans-fast;

    &:hover {
        color: @color-grey--80;
    }

    &.___block-mobile {
        @media ( max-width: @screen-xs-max ) {
            display: block;
            margin: 0 0 10px 0;
        }
    }
}

.form__conditions {
    padding: 5px 10px;
    background-color: @color-grey--20;
    font-size: @font-size--medium;
    line-height: @line-height--medium;
}

.form__date {
    .icon(calendar);
}

.form__time {
    .icon(clock);
}

.form__date,
.form__time {
    position: relative;

    &:before {
        position: absolute;
        left: 16px;
        top: 0;
        bottom: 0;
        font-size: 15px;
        color: @color-grey--60;
        display: flex;
        align-items: center;
    }

    &:hover:before {
        z-index: 2;
    }

    input {
        padding-left: 38px !important;
    }
}
