.section {
    padding: 40px 0;

    &.___last-section {
        padding-bottom: 0;
        margin-bottom: -20px; // wordt van marge .main-content afgehaald
    }
    &.___no-padding-top {
        padding-top: 0;
    }
    &.___less-padding-top {
        padding-top: 0;

        @media (min-width: @screen-sm) {
            padding-top: 20px;
        }
    }
    &.___no-padding-bottom {
        padding-bottom: 0;
    }
    &.___no-vertical-padding {
        padding: 0;
    }
    &.___padding-bottom {
        padding-bottom: 40px;
    }
    &.___grow {
        flex: 1 0 auto;
    }
    &.___center {
        text-align: center;
    }

    @media ( max-width: @screen-xs-max ) {
        &.___padding-top-mobile {
            padding-top: 40px;
        }
    }
}

.section.___grey {
    background-color: @color-grey--20;
}

.section:not(.___grey) {
    background-color: white;
}

.section.___background-white {
    background-color: @color-white;
}

.section.___background-blue {
    background-color: @color-secondary;
    padding: 36px 0 36px 0;
}

.section.___light-blue {
    background-color: @color-secondary--lightest;
}

.section.___background-image {
    background-size: cover;
    background-position: center center;
}

.main__title {
    .font(title-extra-large);
    font-weight: bold;
    color: @color-secondary;
    margin: 0 0 30px 0;

    @media ( max-width: @screen-xs-max ) {
        .font(title-large);
        margin: 0 0 15px 0;
    }

    &.___no-margin {
        margin: 0;
    }

    &.___less-margin-bottom {
        margin-bottom: 20px;

        @media ( max-width: @screen-xs-max ) {
            margin-bottom: 10px;
        }
    }

    &.___primary {
        color: @color-primary;
    }

    &.___trending {
        display: flex;
        align-items: center;
        color: @color-secondary-highlight;

        .icon(trending);
        &:before {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            margin-right: 15px;
            padding: 0 1px 1px 0;
            font-size: 14px;
            background-color: @color-secondary-highlight;
            color: @color-white;
            border-radius: 50%;

            @media ( max-width: @screen-xs-max ) {
                width: 24px;
                height: 24px;
                font-size: 9px;
            }
        }
    }

    &.___info {
        display: flex;
        align-items: center;
        padding: 0 50px 0 0;

        > div {
            margin: 0 0 0 20px;
            padding: 0 0 5px 0;
            color: @color-grey--50;
            cursor: pointer;
            transition: color @trans-fast;

            .icon(info);
            &:before {
                font-size: 24px;
            }

            &:hover {
                color: @color-primary;
            }
        }

        @media ( max-width: @screen-xs-max ) {
            padding: 0 36px 0 0;

            > div {
                display: none;
            }
        }
    }
}

.section__title {
    .font(title-large);
    color: @color-primary;
    margin: 0 0 20px 0;
    @media ( max-width: @screen-xs-max ) {
        .font(title-small);
        margin: 0 0 10px 0;
    }
}

