.walled-garden_main {
    flex-shrink: 0;
    padding: 20px 30px;

    @media ( min-width: @screen-sm ) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
    }
}

.walled-garden_header {
    padding: 20px 30px 0;
}

.walled-garden_header-top {
    @media ( max-width: @screen-xs-max ) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .walled-garden_pleio-link {
        @media (min-width: @screen-sm) {
            display: none;
        }
    }
}

.walled-garden_content {
    max-width: 500px;

    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }
}

.walled-garden_titles {
    margin-bottom: 20px;
}

.walled-garden_title {
    display: block;
    font-weight: bold;
    color: @color-primary;

    @media ( max-width: @screen-xs-max ) {
        .font(title-small);
    }

    @media (min-width: @screen-sm) {
        .font(title-large);
    }
}

.walled-garden_subtitle {
    .font(medium);
    font-weight: normal;
    color: @color-grey--60;
}

.walled-garden_buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;

    @media ( max-width: @screen-xs-max ) {
        flex-direction: column;
    }

    > * {
        flex-shrink: 0;
        margin-bottom: 10px;
    }

    > *:not(:last-child) {
        margin-right: 10px;

        @media ( max-width: @screen-xs-max ) {
            margin-right: 5px;
        }
    }
}

.walled-garden_buttons-or {
    .font(small);
    color: @color-grey--60;
}

.walled-garden_register {
    margin-top: 10px;
    .font(small);
    color: @color-grey--60;
    text-align: center;
}

.walled-garden_footer {
    position: relative;
    width: 100%;
    padding: 20px 30px;
    text-align: center;
    .font(small);

    .content {
        max-width: 500px;
        margin: 0 auto;

        p:last-child {
            margin: 0;
        }
    }

    .walled-garden_pleio-link {
        @media ( max-width: @screen-xs-max ) {
            display: none;
        }

        @media (min-width: @screen-sm) {
            position: absolute;
            left: 30px;
            bottom: 20px;
        }
    }
}

.walled-garden_pleio-link {
    .font(small);
    color: @color-grey--60;

    &:hover,
    &:focus {
        color: @color-grey--80;
    }
}

.walled-garden_messages {
    margin: 20px auto 0;

    .elgg-system-messages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elgg-message {
        .font(small);
        font-weight: bold;
        padding: 3px 12px 4px;
        background: @color-error-light;
        color: @color-error;
        border-radius: @border-radius-button;
        margin-bottom: 10px;
    }
}
